---
layout: application
---

<article class="article">
  <header>
    <h1>{{ page.title }}</h1>
    <p class="metadata">By <a href="/" class="author">Tom-Eric Gerritsen</a> on <time datetime="{{ page.date | date: '%Y-%m-%d' }}" pubdate>{{ page.date | date: "%e %b %Y" }}</time></p>
  </header>
  
  {{ content }}
</article>

<aside>
  <h2>About me</h2>
  <p>Hi! I'm <a href="/about">Tom-Eric</a>, co-founder and lead developer at <a href="http://www.eet.nu/">Eet.nu</a>. I <a href="https://github.com/tomeric">love programming</a>.</p>
</aside>
